$color-palette: (
	primary: #2199e8,
	secondary: #777,
	success: #3adb76,
	warning: #ffae00,
	alert: #ec5840,
);
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;
